# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\student_project\netty\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
